{% extends 'layout.html' %}

{% block content %}
<header class="primary-header">
    <h1>Geiger</h1>
    <input type="text" class="url" placeholder="(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ Enter a url to a NYT article w/ comments" />
</header>

<div class="subject">
    <div class="loading">
        <div class="loader"></div>
        <h4>Loading article...</h4>
    </div>
    <div class="error hide"></div>
    <h1 class="subject--title"></h1>
    <div class="subject--body"></div>
</div>
<div class="comments">
    <div class="featurizers">
        <h3>Active Featurizers</h3>
        <ul>
            {% for featurizer, params in featurizers.items() %}
                <li>{{ featurizer }}</li>
            {% endfor %}
        </ul>
        <p>Resolution: <b>{{ resolution }}</b></p>
    </div>

    <div class="talked-about">
        <h1>Talked About</h1>
        <div class="loading">
            <div class="loader"></div>
            <h4>Loading "talked about"...</h4>
        </div>
        <div class="error hide"></div>
        <ul class="thread"></ul>
    </div>

    {% for strat in strategies %}
        <div class="strategy hide" data-strategy="{{ strat }}">
            <header>
                <h2>{{ strat }}</h2>
                <div class="controls">
                    <button class="run" data-strategy="{{ strat }}">run</button>
                    <div class="loader hide"></div>
                    <div class="error hide"></div>
                </div>
            </header>
            <ul class="thread"></ul>
        </div>
    {% endfor %}
</div>


<script type="text/html" id="highlight_tmpl">
    <li class="comment">
        <span class="quote">“</span><span class="ellipsis">... </span>{0}<span class="ellipsis"> ...</span><span class="quote">”</span>
        <h6 class="support"><a href="#" class="author"><span>{1}</span></a> and <a href="#" class="commenters"><span>{2}</span> other commenters</a></h6>
        <div class="full-comment hide">{3}</div>
        <ul class="cohort hide">{4}</ul>
    </li>
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
    $(function() {
        var comments;

        // By default, just load example data.
        get_comments($('input.url').val());

        // Submit an NYT article url to load.
        // This only works on the NYT internal network :(
        $('input.url').on('keypress', function(ev) {
            // Enter
            if (ev.keyCode == 13) {
                var url = $(this).val();

                // Remove URL params, they can mess up the fetching of comments.
                url = url.split('?')[0]
                $(this).val(url);

                disable_geiger();
                $('.subject--title, .subject--body').empty();

                get_comments(url);
            }
        });

        // Show full comments on mouseenter of author name.
        $('body').on('mouseenter', '.author', function() {
            var parent = $(this).closest('.comment');
            parent.find('.cohort').hide();
            parent.find('.full-comment').show();
        });

        // Show cohort on mouseenter of support.
        $('body').on('mouseenter', '.commenters', function() {
            var parent = $(this).closest('.comment');
            parent.find('.full-comment').hide();
            parent.find('.cohort').show();
        });

        $('body').on('mouseleave', '.comment', function() {
            $(this).find('.full-comment, .cohort').hide();
        });


        // Run a single strategy.
        $('.run').on('click', function() {
            var strat = $(this).data('strategy');
            geiger(strat);
            $(this).hide();
            $(this).siblings('.loader').show();
        });

        // Load data for an NYT url.
        function get_comments(url) {
            $('.subject .error').hide();
            $('.subject .loading').show();
            $.ajax('/api/comments', {
                method: 'GET',
                accepts: 'application/json',
                data: {
                    url: url
                },
                error: function(xhr, status, err) {
                    $('.subject .error').text(err).show();
                },
                success: function(data, status, xhr) {
                    comments = data.comments;
                    $('.subject--title').text(data.title);
                    $('.subject--body').html(data.body);
                    enable_geiger();

                    // Load "talked about" right after
                    get_talked_about();
                },
                complete: function() {
                    $('.subject .loading').hide();
                }
            });
        }

        // Call a highlight strategy from the API.
        function geiger(strat) {
            var el = $('.strategy[data-strategy={0}]'.format(strat)),
                thread = el.find('.thread');

            thread.empty();
            $.ajax('/api/geiger', {
                method: 'POST',
                accepts: 'application/json',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    comments: comments,
                    strategy: strat
                }),
                error: function(xhr, status, err) {
                    el.find('.error').text(err).show();
                },
                success: function(data, status, xhr) {
                    var data = data.results,
                        thread = el.find('.thread');
                    for (var i=0; i < data.length; i++) {
                        var res = data[i],
                            coh = '',
                            hel;

                        // List out the other sentences in this cohort.
                        for (var j=0; j < res.cohort.length; j++) {
                            coh += '<li>' + res.cohort[j] + '</li>';
                        }

                        // Build the highlight HTML.
                        hel = $('#highlight_tmpl')
                                .html()
                                .format(res.sentence, res.comment.author, res.support, res.comment.body, coh);

                        thread.append(hel);
                    }
                },
                complete: function() {
                    el.find('.loader').hide();
                }
            });
        }

        function enable_geiger() {
            $('.strategy, .run').show();
            $('.strategy .loader, .strategy .error').hide();
        }
        function disable_geiger() {
            $('.strategy').hide();
            $('.strategy .thread').empty();
        }

        function get_talked_about() {
            var el = $('.talked-about');
            el.find('.loading').show();
            $.ajax('/api/talked-about', {
                method: 'POST',
                accepts: 'application/json',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    comments: comments
                }),
                error: function(xhr, status, err) {
                    el.find('.error').text(err).show();
                },
                success: function(data, status, xhr) {
                    var data = data.results;
                    for (var i=0; i < data.length; i++) {
                        var res = data[i],
                            coh = '',
                            hel;

                        // List out the other sentences in this cohort.
                        for (var j=0; j < res.cohort.length; j++) {
                            coh += '<li>' + res.cohort[j] + '</li>';
                        }

                        // Build the highlight HTML.
                        hel = $('#highlight_tmpl')
                                .html()
                                .format(res.sentence, res.comment.author, res.support, res.comment.body, coh);

                        thread.append('<h5>{0}</h5>{1}'.format(res.aspect, hel));
                    }
                },
                complete: function() {
                    el.find('.loading').hide();
                }
            });

        }
    });
</script>

{% endblock %}
