{% extends 'layout.html' %}

{% block content %}
<header class="primary-header">
    <h1>Geiger</h1>
    <input type="text" class="url" placeholder="(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ Enter a url to a NYT article w/ comments" />
</header>

<div class="tabbed">
    <ul class="tabs">
        <li class="active" data-tab="subject"><h1>Subject</h1></li>
    </ul>
    <div class="subject active">
        <div class="loading hide">
            <div class="loader"></div>
            <h4>Loading article...</h4>
        </div>
        <div class="error hide"></div>
        <h1 class="subject--title"></h1>
        <div class="subject--body"></div>
    </div>
</div>


<script type="text/html" id="cluster_tmpl">
    <li class="comment">
        <h6 class="support"><a href="#" class="commenters"><span>{1}</span> comments</a></h6>
        <ul class="cohort">{0}</ul>
    </li>
</script>
<script type="text/html" id="tab_tmpl">
    <li class="methods-tab" data-tab="{0}"><h1>{0}</h1></li>
</script>
<script type="text/html" id="method_tmpl">
    <div class="{0} clusters hide">
        <ul class="thread"></ul>
    </div>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
    $(function() {
        var comments;

        // Submit an NYT article url to load.
        // This only works on the NYT internal network :(
        $('input.url').on('keypress', function(ev) {
            // Enter
            if (ev.keyCode == 13) {
                var url = $(this).val();

                // Remove URL params, they can mess up the fetching of comments.
                url = url.split('?')[0]
                $(this).val(url);

                $('.subject--title, .subject--body').empty();

                get_comments(url);
                $('[data-tab=subject]').click();
            }
        });

        $('html').on('click', '.tabs li', function() {
            var tab = $(this).data('tab');
            $('.tabs .active').removeClass('active');
            $('.active').addClass('hide').removeClass('active');
            $(this).addClass('active');
            $('.'+tab).removeClass('hide').addClass('active');
        });


        // Load data for an NYT url.
        function get_comments(url) {
            $('.subject .error').hide();
            $('.subject .loading').show();
            $.ajax('/api/comments', {
                method: 'GET',
                accepts: 'application/json',
                data: {
                    url: url
                },
                error: function(xhr, status, err) {
                    $('.subject .error').text(err).show();
                },
                success: function(data, status, xhr) {
                    comments = data.comments;
                    $('.subject--title').text(data.title);
                    $('.subject--body').html(data.body);

                    get_clusters();
                },
                complete: function() {
                    $('.subject .loading').hide();
                }
            });
        }

        function get_clusters() {
            var logo = $('.primary-header h1');
            logo.addClass('loading').removeClass('error');
            $('.clusters, .method-tab').remove();

            $.ajax('/api/cluster', {
                method: 'POST',
                accepts: 'application/json',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    comments: comments
                }),
                error: function(xhr, status, err) {
                    logo.addClass('error');
                },
                success: function(data, status, xhr) {
                    // Iterate over each clustering method's resulting clusters
                    for (var key in data.results) {
                        if (data.results.hasOwnProperty(key)) {
                            var clusters = data.results[key],
                                tmpl, tab;

                            // Add templates
                            tmpl = $('#method_tmpl')
                                    .html()
                                    .format(key);
                            tmpl = $(tmpl);

                            tab = $('#tab_tmpl').html().format(key);
                            $('.tabs').append(tab);

                            for (var i=0; i < clusters.length; i++) {
                                var cluster = clusters[i],
                                    coh = '', el;
                                for (var j=0; j < cluster.length; j++) {
                                    coh += '<li>' + cluster[j] + '</li>';
                                }
                                el = $('#cluster_tmpl').html().format(coh, cluster.length);
                                tmpl.find('.thread').append('<hr/>{0}'.format(el));
                            }
                            $('.tabbed').append(tmpl);
                        }
                    }
                },
                complete: function() {
                    logo.removeClass('loading');
                }
            });

        }

    });
</script>

{% endblock %}
