<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>geiger</title>

  <link href="/css/style.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="http://typeface.nytimes.com/zam5nzz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <main role="main" id="main">
    {# Yield for other templates. #}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
