{% extends 'layout.html' %}

{% block content %}

<div class="comments">

    {% for k, v, c in highlights %}
        <h1>{{ k }}</h1>
        <ul class="thread">
            <li class="comment">
                {{ v[1]|safe }}
                <div class="context">
                    {{ v[0].comment.body|safe }}
                </div>
            </li>
            {% for s, h in c %}
                <li class="comment">
                    {{ h|safe }}
                    <div class="context">
                        {{ s.comment.body|safe }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% endblock %}
