html, body {
    color: #222;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    padding: 0;
    margin: 0;
}
.primary-header {
    background: #F6F6F6;
    overflow: hidden;
    border-bottom: 1px solid #E5E5E5;
}
h1 {
    font-family: "nyt-stymie";
    font-weight: 700;
    font-size: 1.5em;
}
h5 {
    font-family: "nyt-stymie";
    font-weight: 700;
}
header h1 {
    margin: 0.5em 1em;
    float: left;
}
a, a:visited {
    color: #31708F;
}
li {
    list-style-type: none;
}
.quote {
    font-weight: 700;
    font-size: 1.8em;
    color: #31708F;
    padding: 0.1em;
}
.ellipsis {
    color: #CCC;
}
.quote:first-child {
    padding-left: 0;
}
.quote:last-child {
    padding-right: 0;
}
.url {
    width: 80%;
    float: right;
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    height: 2em;
    font-size: 1.2em;
    border: none;
    border-left: 1px solid #E5E5E5;
    padding: 0.5em 1em;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}
.error {
    color: #FC0D1B !important;
}
.success {
    color: #4FC3A0;
}
.loading {
    color: #aaa;
}

.subject--title {
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-style: italic;
    font-size: 2em;
}
.subject {
    margin: 0 auto;
    line-height: 1.5;
    font-family: "georgia", "times new roman","times","serif";
}
.subject .error, .talked-about .error, .loading {
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    text-align: center;
}

.hide {
    display: none;
}
button {
    padding: 0.1em 0.5em 0.2em 0.5em;
    border-radius: 0.4em;
    background: #fff;
    border: 1px solid #dadada;
    cursor: pointer;
}

.thread {
    padding: 0;
}
.comment {
    padding: 1em 0;
    position: relative;
}
.cohort {
    padding: 1em 2em;
    background: #fcfcfc;
    border: 1px solid #E5E5E5;
}
.cohort li {
    padding: 1em 0;
}
.full-comment {
    position: absolute;
    background: #F6F6F6;
    padding: 1em 2em;
    z-index: 1;
}
.support, .support a {
    color: #C0C0C0;
    margin: 1em 0;
}
.support span {
    color: #AAA;
}
.thread .thread {
    padding-left: 2em;
}
.thread .thread .comment {
    margin-top: 1px;
}
.highlight {
    font-weight: bold;
    color: #EB1B23;
}
.context {
    color: #aaa;
    display: none;
}
.comment:hover .context {
    display: block;
}
.terms {
    padding: 0;
}
.terms li {
    display: inline-block;
    padding: 0.2em 0.4em;
    background: #31708F;
    color: #fff;
    border-radius: 0.2em;
    margin: 0.2em;
    cursor: pointer;
}
.top-terms {
    margin-bottom: 4em;
    padding-bottom: 2em;
    border-bottom: 1px solid #B2DADA;
}
.cohort .terms {
    font-size: 0.9em;
}



.tabs > li {
    vertical-align: top;
    display: inline-block;
    margin-right: 1.6em;
    border-bottom: 4px solid transparent;
    cursor: pointer;

    color: #aaa;
}
.tabs > li:hover,
.tabs > li.active {
    color: #222;
    border-bottom: 4px solid #222;
}
.tabs > li.loading:hover,
.tabs > li.active.loading {
    border-bottom: 4px solid #aaa;
}
.tabs > li.loading {
  -webkit-animation: sk-pulseColor 1s infinite ease-in-out;
          animation: sk-pulseColor 1s infinite ease-in-out;
}
.tabs {
    margin: 0 0 4em 0;
    padding: 0;
    list-style-type: none;
}
.tabbed {
    max-width: 720px;
    padding: 4em;
    margin: 0 auto;
}
.tabs h1 {
    display: inline-block;
    margin-bottom: 0;
}

.compare {
    border-bottom: 1px solid #EC1A23;
}
.similarity {
    font-weight: bold;
    color: #3C76FC;
}
.co-cluster {
    font-weight: bold;
    color: #49EA7A;
}
.pred-co-cluster {
    font-weight: bold;
    color: #1BAFAE;
}

/* don't highlight geiger terms */
.geiger .highlight {
    color: #222;
    font-weight: normal;
}
.geiger .highlight-active {
    /*color: #2671F5 !important;*/
    color: #FF4949 !important;
}
.geiger .highlight-active .highlight {
    color: #FF4949 !important;
}
.geiger .subdued,
.geiger .subdued .highlight {
    color: #888;
}
.cohort, .geiger .highlight {
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.term {
    position: relative;
}
.term .idf-tooltip {
    position: absolute;
    right: -3em;
    bottom: -5em;
    background: #eaeaea;
    border: 1px solid #aaa;
    color: #222;
    padding: 0.5em;
    width: 8em;
    z-index: 10;
}

/* Loader by Tobias Ahlin */
/* https://github.com/tobiasahlin/SpinKit/blob/master/examples/5-pulse.html */
.loader {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



@-webkit-keyframes sk-pulseColor {
  0% { color: #aaa; }
  50% { color: #888; }
  100% { color: #aaa; }
}

@keyframes sk-pulseColor {
  0% { color: #aaa; }
  50% { color: #888; }
  100% { color: #aaa; }
}
